body {
  color: rgb(12,227,172);
  background-image:url("../img/stars.jpeg");
  background-size:cover;
  background-position: bottom;
}

h1 {
  font-size: 60px;
  letter-spacing: 5px;
  text-align: center;
  margin: 20px 0;
}

ul {
  list-style: none;
}

.input-row {
    border: 5px solid rgb(12,227,172);
    margin-bottom: 15px;
}

.input-area, .output-area {
  display:inline-block;
  width:45%;
  margin:25px;
  padding:25px;
  border-radius: 5px;
}

.output-area {
  text-align: center;
}

.output-area h4 {
  margin-bottom: 15px;
  margin-left: 30px;
  padding-bottom:15px;
  border-bottom: 1px solid rgb(12,227,172);
}

.output-area li{
  margin-bottom: 15px;
}

.form-control, input {
  background-color: #f7f7f7;
  border-radius:4px;
}

.form-control {
  width:90%;
}

.radio {
  color:white;
}

.planet-area {
  text-align: center;
}

.planet-image {
  width:50%;
}
